/*--------------------------------------------ESTILOS ENCABEZADO----------------------------------*/

button {
    padding: 10px 20px; /* Padding para espacio interno */
    margin: 5px; /* Margen entre los botones */
    background-color: #56a2c3; /* Color de fondo */
    color: rgb(245, 239, 239); /* Color del texto */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor de flecha */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Estilo para los botones cuando damos clic a estos */
button:hover {
    background-color: #6443c0; /* Color de fondo más oscuro */
}

.botones-container {
    text-align: right; /*coloca  los botones horizontalmente a la derecha */
    margin-bottom: 20px; /* Espacio entre los botones*/
    background-color: #0f0a32;
    padding: 20px 50px; /* espacio interno */
}

/*----------------------------------------ESTILOS BOBY-----------------------------------------*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #29083683;
}

h1 {
    text-align: center;
}

h2 {
    color: white;
}

/* Estilos para los cuadros de operaciones */
.cuadro {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: #0f0a32;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    vertical-align: top;
    max-height: 150px;
    overflow-y: auto;
    /* barra de desplazamiento vertical si la descripción es demasiado larga */
}

.cuadro:hover {
    background-color: #5c529a;
    transform: translateY(-5px); 
}


/* Estilos para el título dentro de los cuadros */
.cuadro h2 {
    text-align: center;
}

/* Estilos para la descripción de las operaciones */
.description {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: display 0.3s ease;
}

/* para que me deje visualizar el ejemplo */
.description.show {
    display: block;
}
/*--------------------------------------------- ESTILOS FOOTER--------------------------------------------------------*/
/* Estilo para el footer */
.footer {
    background-color: #0f0a32;
    color: #fff; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Estilo para las columnas del footer */
.footer-column {
    flex: 1; 
    margin-right: 20px;
    text-align: justify;
}

/* Estilo para los títulos de las columnas del footer */
.footer-column h3 {
    font-size: 20px;
    margin-bottom: 15px; 
}

/* Estilo para los párrafos dentro de las columnas del footer */
.footer-column p {
    margin: 10px 0; 
}

/* Estilo para las listas dentro de las columnas del footer */
.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilo para los elementos de lista dentro de las columnas del footer */
.footer-column ul li {
    margin: 5px 0;
}

/* Estilo para los íconos sociales */
.social-icons img {
    width: 30px; 
    margin-right: 20px; 
}

/* Estilo para el eslogan */
.slogan {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-style: italic;
    font-size: 18px; 
}
