/*--------------------------------------------ESTILOS ENCABEZADO----------------------------------*/

button {
    padding: 10px 20px; /* Padding para espacio interno */
    margin: 5px; /* Margen entre los botones */
    background-color: #56a2c3; /* Color de fondo */
    color: rgb(245, 239, 239); /* Color del texto */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor de flecha */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Estilo para los botones cuando damos clic a estos */
button:hover {
    background-color: #6443c0; /* Color de fondo más oscuro */
}

.botones-container {
    text-align: right; /*coloca  los botones horizontalmente a la derecha */
    margin-bottom: 20px; /* Espacio entre los botones*/
    background-color: #0f0a32;
    padding: 20px 50px; /* espacio interno */
}


/*----------------------------------------ESTILOS BOBY-----------------------------------------*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #091f7a;
}

h1 {
    text-align: center;
}

/* Estilos para la calculadora */
#calculadora {
    max-width: 350px;
    margin: 0 auto;
    padding: 100px;
    background-color: #854aecb7;
    border-radius: 30px;/*bordes*/
    box-shadow: 0 0 10px rgba(117, 182, 33, 0.1);/*aplica una sombra alrededor del contenedor principal de la calculadora */
}

.pantalla {
    margin-bottom: 20px;
}

#resultado {
    width: 95%;
    padding: 10px;
    font-size: 30px;
    text-align: right;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.botones button {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(48, 125, 180);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*Cambia de color al momento de pasar el raton sobre el */
.botones button:hover {
    background-color: #6c13c4f8;
}

.botones button:active {
    transform: translateY(3px);
}


/*--------------------------------------------- ESTILOS FOOTER--------------------------------------------------------*/
/* Estilo para el footer */
.footer {
    background-color: #0f0a32; 
    color: #fff; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Estilo para las columnas del footer */
.footer-column {
    flex: 1; 
    margin-right: 20px;
    text-align: justify;
}

/* Estilo para los títulos de las columnas del footer */
.footer-column h3 {
    font-size: 20px; 
    margin-bottom: 15px;
}

/* Estilo para los párrafos dentro de las columnas del footer */
.footer-column p {
    margin: 10px 0; 
}

/* Estilo para las listas dentro de las columnas del footer */
.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilo para los elementos de lista dentro de las columnas del footer */
.footer-column ul li {
    margin: 5px 0;
}

/* Estilo para los íconos sociales */
.social-icons img {
    width: 30px;
    margin-right: 20px; 
}

/* Estilo para el eslogan */
.slogan {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-style: italic;
    font-size: 18px;
}
